* {
  list-style-type: none;
  background-color: #dcedf1;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin-left: 20px;
}

.main__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title {
  color: #f64f59;
  font-size: 3.75rem;
}

.searchbar {
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.js-search-input {
  width: 500px;
  height: 40px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* RESULTADOS */

.main__results {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: space-around;
}

.results {
  width: 1000px;
  color: #f64f59;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around;
}

.favorites {
  color: #f64f59;
  font-size: 1rem;
  width: 400px;
}

.js-search-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-color: #d4e912;
  padding: 6px;
  color: grey;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #d4e912;
  cursor: pointer;
  outline: none;
}

.js-empty-favs-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-color: #f64f59;
  padding: 6px;
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #f64f59;
  cursor: pointer;
  outline: none;
  margin: 20px 20px;
}

.js-delete-fav-button {
  width: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.list__item {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 20px 20px 0;
  margin-bottom: 20px;
  background-color: #ffd6d9;
}

.item__title {
  background-color: rgba(255, 255, 255, 0);
  margin: 10px 0 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

.is-favorite {
  background-color: #c5c5c5;
  color: rgb(82, 82, 82);
}
